@import "src/scss/_variables";

.sign-in-page {

  &__form {
    display: flex;
    flex-direction: column;
    padding: 40px;

    & > div {
      &:not(&:first-child) {
        margin-top: 10px;
      }
    }
  }

  &__sign-up-link {
    margin-top: 20px;
  }

  &__error-text {
    color: red;
  }
}